<div class="theme_slider_2">
			<div class="slider_slick">
				<div class="item">
					<div class="slide_item" style="background-image: url('images/slider/7.jpg');">
						<div class="container">
				<div class="slide_item_content">
					<div class="slide_item_text color_text">Exotic and Delicious</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="slide_item" style="background-image: url('images/slider/8.jpg')">
						<div class="container">
							<div class="slide_item_content">
								<div class="slide_item_text color_text">Exotic and Delicious</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="slide_item" style="background-image: url('images/slider/9.jpg');">
						<div class="container">
							<div class="slide_item_content">
								<div class="slide_item_text color_text">Exotic and Delicious</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



			<div class="section_sm">
				<div class="container">

					

					<div class="grillman_imgtext light">
						<img src="../assets/images/about/grillman2.png" alt="" data-aos="fade-up" data-aos-duration="1000">
						<p>Flame Restaurant</p>
					</div>
				</div>
			</div> 

			<div class="section platter bg_image_8">
				<div class="container">
					<div class="platter_box" data-aos="zoom-out" data-aos-duration="1000">
						<div class="platter_title">
							<h4>Special Foods and</h4>
							<h4>Drinks</h4>
						</div>
						<div class="platter_box_item">
							<h6>Steak</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Ceaser Salad</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Dry Martini</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Diablo Cocktail</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Spagetti</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Chicken Steak</h6>
							<p></p>
						</div>
						<div class="platter_box_item">
							<h6>Latte Macchiato</h6>
							<p></p>
						</div>

					</div>
				</div>
			</div>



			@await Component.InvokeAsync("LatestProducts")


			@section addcss{
				<style>
				.l-img{
					width: 270px;
					height: 270px;
				}
				</style>
			}